// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

// responsive_variants
$responsive_variants: (
  "": "",
  sm: "_sm",
  md: "_md",
  lg: "_lg",
  xl: "_xl",
  xxl: "_xxl",
) !default;

// has_responsive
$text_align_responsive: true !default;
$text_weight_responsive: true !default;
$text_truncate_responsive: false !default;
$white_space_responsive: false !default;
$text_decoration_responsive: true !default;
$text_style_responsive: true !default;
$text_transform_responsive: false !default;
$break_word_responsive: true !default;
$vertical_align_responsive: false !default;
$visibility_responsive: false !default;
$display_responsive: true !default;
$position_responsive: false !default;

// padding
$padding_responsive: true !default;
$padding_min: 0;
$padding_max: 5;
$padding_multiple: 4px;

// margin
$margin_responsive: true !default;
$margin_min: 0;
$margin_max: 5;
$margin_multiple: 4px;