@mixin text_align($variant: "") {
  $base_class_name: text#{$variant};

  .#{$base_class_name}_right {
    text-align: right !important;
  }

  .#{$base_class_name}_left {
    text-align: left !important;
  }

  .#{$base_class_name}_center {
    text-align: center !important;
  }
}

@mixin text_weight($variant: "") {
  $base_class_name: text_weight#{$variant};

  .#{$base_class_name}_thin {
    font-weight: 100 !important;
  }

  .#{$base_class_name}_extra_light {
    font-weight: 200 !important;
  }

  .#{$base_class_name}_light {
    font-weight: 300 !important;
  }

  .#{$base_class_name}_normal {
    font-weight: 400 !important;
  }

  .#{$base_class_name}_medium {
    font-weight: 500 !important;
  }

  .#{$base_class_name}_semi_bold {
    font-weight: 600 !important;
  }
  
  .#{$base_class_name}_bold {
    font-weight: 700 !important;
  }

  .#{$base_class_name}_extra_bold {
    font-weight: 800 !important;
  }

  .#{$base_class_name}_ultra_bold {
    font-weight: 900 !important;
  }
}

@mixin text_truncate($variant: "") {
  $base_class_name: text#{$variant};

  .#{$base_class_name}_truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin text_white_space($variant: "") {
  $base_class_name: text#{$variant};
  
  .#{$base_class_name}_wrap {
    white-space: normal !important;
  }
  
  .#{$base_class_name}_nowrap {
    white-space: nowrap !important;
  }
}

@mixin text_decoration($variant: "") {
  $base_class_name: text_decoration#{$variant};
  
  .#{$base_class_name}_none {
    text-decoration: none !important;
  }

  .#{$base_class_name}_underline {
    text-decoration: underline !important;
  }

  .#{$base_class_name}_line_through {
    text-decoration: line-through !important;
  }
}

@mixin text_style($variant: "") {
  $base_class_name: text#{$variant};
  
  .#{$base_class_name}_italic {
    font-style: italic !important;
  }

  .#{$base_class_name}_normal {
    font-style: normal !important;
  }
}