@mixin user_select($variant: "") {
  $base_class_name: user_select#{$variant};

  .#{$base_class_name}_all  { user-select: all !important; }
  .#{$base_class_name}_auto { user-select: auto !important; }
  .#{$base_class_name}_none { user-select: none !important; }
}