@mixin text_break_word($variant: "") {
  $base_class_name: text_break_word#{$variant};
  
  .#{$base_class_name} {
    word-break: break-word !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

  .#{$base_class_name}_all {
    word-break: break-all !important;
  }
}