@mixin text_truncate($variant: "") {
  $base_class_name: text#{$variant};

  .#{$base_class_name}_truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}